#page1 {
  background-image: url("istanbul.jpg");
  background-size: cover;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row; /* set the main axis as horizontal */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
}

#page1 .container {
  text-align: center;
}

#page1 .heading {
  font-size: 48px;
  color: #ffffff;
  margin-top: 0;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#page1 .button {
  background-color: #b91212;
  color: #ffffff;
  padding: 12px 32px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 50px; /* make the button edges rounded */
  transition: background-color 0.3s ease-in-out;
}

#page1 .button:hover {
  background-color: #f70000;
}

#page1 .creators {
  position: absolute;
  bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  text-align: center;
  opacity: 0.7;
}

#tadyamap {
  width: 100%;
  height: 100%;
}

#databox {
  display: none;
  position: absolute;
  top: 250px;
  right: calc(100% - 230px);
  width: 200px;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  padding: 10px;
  z-index: 1;
  font-family: Arial, sans-serif;
}

#databox h2 {
  margin-top: 0;
}

#databox p {
  margin: 10px 0;
}

#databox .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  cursor: pointer;
}

#databox .close:hover {
  color: #ccc;
}

#databox .buttons {
    display: flex;
}

#databox .buttons button {
    flex: 1;
    margin: 5px;
    padding: 5px 10px;
}

#databox .buttons button:nth-of-type(1) {
    background-color: #00ff00;
}

#databox .buttons button:nth-of-type(2) {
    background-color: #7fff00;
}

#databox .buttons button:nth-of-type(3) {
    background-color: #ffff00;
}

#databox .buttons button:nth-of-type(4) {
    background-color: #ff7f00;
}

#databox .buttons button:nth-of-type(5) {
    background-color: #ff0000;
}

#databox .rows {
    display: flex;
    flex-direction: column;
}

#databox .rows .row {
    padding: 10px;
}

#databox2 {
    display: none;
    position: absolute;
    top: 250px; /* set the top position to be the same as #databox */
    right: calc(100% - 450px);
    width: 200px;
    background-color:#f0f0f0 ;
    border:1px solid #d0d0d0 ;
    padding:10px ;
    z-index :1 ;
    font-family :Arial , sans-serif ;
}

#databox2 h2 {
  margin-top: 0;
}

#databox2 p {
  margin: 10px 0;
}

#databox2 .close {
  position: absolute;
}

#databox2 .buttons button {
    margin: 2px;
    padding: 5px 10px;
}

#databox2 .rows input[type="text"] {
    margin: 5px;
    padding: 5px;
}

#databox2 .buttons button:nth-of-type(1) {
    background-color: #00ff00;
}

#databox2 .buttons button:nth-of-type(2) {
    background-color: #7fff00;
}

#databox2 .buttons button:nth-of-type(3) {
    background-color: #ffff00;
}

#databox2 .buttons button:nth-of-type(4) {
    background-color: #ff7f00;
}

#databox2 .buttons button:nth-of-type(5) {
    background-color: #ff0000;
}